<div id="admin-card-users" class="row">
	<!-- Begining of the loop -->
	<% @users.order(created_at: :desc).each do |u| %>
	<!-- CARD -->
	<%= link_to(admins_user_path(u.id), class: "text-default") do %>
	<div class="col">
		<div class="card mb-3">
			<div class="card-body">
				<h5 style="color: black;" class="card-title mb-0"><%= u.company %>
					<% if u.is_admin? == true %>
					<span class="text-small text-primary"> Admin</span> 
					<% end %>
				</h5>
			</div>
			<div class="card-footer text-muted text-small">
				<!-- Email -->
				<i class="fas fa-at mr-1">: </i><%= u.email %>
			</div> 
		</div>
	</div>
	<% end %>
	<% end %>
</div>