<!--========= Footer =========-->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 footer-info">
                <h3><span style="color: #f82249;">RUBY</span> J<span><i class="fas fa-gem fa-sm" style="color: #f82249;"></i></span>B</h3>
                <p>Sur une idée de François Loupias, passionné de Ruby on Rails.</p>
                <p>Site web développé avec le framework Ruby on Rails, dans le cadre d'un projet personnel.</p>
                <p>N'hésitez pas à faire un tour sur mon : <a href="https://fralps.github.io/Francois_Loupias/" target="_blank">portfolio</a></p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Liens utiles</h4>
                <ul>
                    <%= link_to(root_path) do %>
                    <li><i class="fa fa-angle-right"></i>Accueil</li>
                    <% end %>
                    <li><i class="fa fa-angle-right"></i> <a href="#about">Le concept</a></li>
                    <li><i class="fa fa-angle-right"></i><%= link_to "Voir les annonces", ads_path %></li>
                </ul>
            </div>


            <div class="col-lg-4 col-md-6 footer-contact">
                <h4>Contact</h4>
                <p>
                    Lyon, 69000 <br>
                    FRANCE<br>
                    <strong>Email:</strong> info@rubyjob.com<br>
                </p>

                <div class="middle mt-2">
                    <a class="btn" target="_blank" href="https://fralps.github.io/Francois_Loupias/">
                        <i class="fas fa-link"></i>
                    </a>
                    <a class="btn" target="_blank" href="https://github.com/fralps">
                        <i class="fab fa-github"></i>
                    </a>
                     <a class="btn" target="_blank" href="https://www.linkedin.com/in/fran%C3%A7ois-loupias-550a6411a/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="btn" target="_blank" href="https://www.facebook.com">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn" target="_blank" href="https://www.instragram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer><!-- #footer -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>