<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      
       <h1><a href="#main"><span>RUBY</span> J<span><i class="fas fa-gem fa-sm"></i></span>B</a></h1>
      <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
    </div>

  <nav id="nav-menu-container">
    <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Accueil</a></li>
        <li><a href="#about">Le concept</a></li>
        <li><a href="#">Offres</a></li>
        <li class="buy-tickets"><a href="#">Connexion / Inscription</a></li>
    </ul>
    </nav><!-- #nav-menu-container -->
</div>
</header><!-- #header -->